# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron

# Python virtual env folder
.venv/

# Apple DS trace
.DS_Store

# LLaMA-2-7B git clone
llama/

# LLaMA-2-7B tokenizer & weights
llama-2-7b/
tokenizer.model
tokenizer_checklist.chk
USE_POLICY.md
